@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1> <br /> 
    <p class="alert alert-info align-baseline"> This application is an educational platform that allows adding different courses, adding students, registering them in these courses, and registering teachers who give these courses and transfer them to the database. This application was created by me with a framework ASP.NET Core MVC</p>
</div>
