################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/educationalpp/.vs
/.vs
/educationalpp/educationalpp/obj
/educationalpp/educationalpp/bin/Debug/net6.0
